[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydoover = {ref = "0e9abbbc", git = "git+https://spaneng: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@github.com/spaneng/pydoover.git"}

[dev-packages]
grpcio = "*"
protobuf = "*"
requests = "*"

[requires]
python_version = "3.11"
